APScheduler==3.10.4
asgiref==3.7.2
async-timeout==5.0.1
attrs==25.1.0
autobahn==24.4.2
Automat==24.8.1
certifi==2023.11.17
cffi==1.17.1
channels==4.2.0
channels_redis==4.2.1
charset-normalizer==3.3.2
constantly==23.10.4
cryptography==44.0.1
daphne==4.1.2
Django==4.2.9
django-apscheduler==0.6.2
django-cors-headers==4.3.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
docker==7.0.0
hyperlink==21.0.0
idna==3.6
incremental==24.7.2
msgpack==1.1.0
packaging==24.0
pillow==11.1.0
pkg_resources==0.0.0
psycopg2-binary==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
PyJWT==2.8.0
PyMySQL==1.1.1
pyOpenSSL==25.0.0
pysolr==3.10.0
python-dotenv==1.0.1
pytz==2023.3.post1
redis==5.2.1
requests==2.31.0
service-identity==24.2.0
six==1.16.0
sqlparse==0.4.4
tomli==2.2.1
Twisted==24.11.0
txaio==23.1.1
typing_extensions==4.9.0
tzlocal==5.2
urllib3==2.1.0
zope.interface==7.2